{% extends 'drawings/base.html' %}
{% block title %}{{ site_settings.header_text }} - {{ drawing.title }}{% endblock %}

{% block content %}
    <div class="mb-5 text-center">
        <a href="{% url 'drawing_list' %}{% if 'from_page' in request.GET %}?page={{ request.GET.from_page }}{% endif %}"
           class="btn mx-2"
           style="background-color: {{ site_settings.button_bg }};
                   color: {{ site_settings.button_text_color }};">
            {{ site_settings.button_text }}
        </a>
        {% if site_settings.show_download %}
            {% if drawing.video %}
                <a href="{{ drawing.video.url }}"
                   download
                   class="btn mx-2"
                   style="background-color: {{ site_settings.button_bg }};
                           color: {{ site_settings.button_text_color }};">
                    Download
                </a>
            {% elif drawing.image %}
                <a href="{{ drawing.image.url }}"
                   download
                   class="btn mx-2"
                   style="background-color: {{ site_settings.button_bg }};
                           color: {{ site_settings.button_text_color }};">
                    Download
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div class="card mx-auto w-100" style="max-width: 30rem;
            background-color: {{ site_settings.card_bg }};
            color: {{ site_settings.card_text_color }};
            border-color: {{ site_settings.card_border_color }};">
        <div class="ratio ratio-4x3">
            {% if drawing.video %}
                <video src="{{ drawing.video.url }}"
                       class="img-fluid"
                       style="object-fit: contain;"
                       controls
                       poster="{{ drawing.image.url }}">
                </video>
            {% elif drawing.image %}
                <img src="{{ drawing.image.url }}"
                     class="img-fluid"
                     style="object-fit: contain;"
                     alt="{{ drawing.title }}">
            {% endif %}
        </div>

        <div style="border-top: 1px solid {{ site_settings.card_border_color }};"></div>

        <div class="card-body">
            <h3 class="card-title">{{ drawing.title }}</h3>
            <p class="card-text">{{ drawing.description|linebreaksbr }}</p>
            {% if drawing.medium %}
                <p class="card-text" style="color: {{ site_settings.medium_text_color }};">
                    {{ drawing.medium }}
                </p>
            {% endif %}
            {% if site_settings.show_uploaded_date %}
                <p class="mt-3 text-end small" style="color: {{ site_settings.uploaded_date_color }};">
                    {{ drawing.created_at|date:"F j, Y" }}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
