# Core Django and dependencies
Django~=5.2.5
asgiref~=3.9.1
sqlparse~=0.5.3
pillow~=11.3.0
requests~=2.32.5

# Azure SQL database support
mssql-django~=1.6
pyodbc~=5.2.0
dj-database-url~=3.0.1

# Static files middleware
whitenoise~=6.9.0

# Cloud storage support
django-storages~=1.14.6
azure-storage-blob~=12.26.0